@font-face {
  font-family: 'Mulish';
  src: url('fonts/Mulish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}

a{
	color: #333;
	text-decoration: none;
}

a:hover{
	color: #c83791 !important;
	outline: none;
}

a:selected{
	color: #c83791 !important;
	outline: none;
}

body {
  font-family: 'Mulish', sans-serif;
}

.navigation-bar{
	background-color: #fff;
}

.navigation-header{
	display: flex;
	padding: 0 15px;
	align-items: left;
	margin-right: 20px;
}

.navigation-items {
    display: flex;
    padding: 0px 15px;
}

.navigation-items>a{
  	position: relative;
	text-decoration: none;    
  	display: inline-block; /* rất quan trọng */         
  	color: #333;
	padding-bottom: 10px;                        
}

.navigation-items>a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #c83791;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navigation-items>a:hover{
	  color: #c83791;
}

.navigation-items>a:hover::after {
  transform: scaleX(1);
}


.product-list{
	height: auto;
	z-index: 9999;         /* nằm trên tất cả giao diện khác */
	background: #fff;
	box-shadow: 0 4px 8px rgba(0,0,0,0.15);  /* tạo bóng để nổi bật */
	position: absolute;
	padding: 8px 10px;
	top: 60px;
	transform: scaleY(1);
  	transform-origin: top; /* quan trọng: bắt đầu từ trên */
  	transition: transform 0.3s ease, opacity 0.3s ease;
	visibility: hidden;
	opacity: 0;
}

.san-pham-header:hover .product-list{
	transform: scaleY(1);
	visibility: visible;
	opacity: 1;
}

.product-list .wp-block-woocommerce-product-categories{
	width: 100%;
}

.product-list .wp-block-woocommerce-product-categories ul{
	justify-content: left;
	margin-right: 20px;
}

.product-list>div>ul>li>a{
    content: "";
    display: block;
    border-bottom: 1px solid #000;
    margin: 8px 10px;
	font-weight: 600;
}


.product-list>div>ul>li>a{
	padding-left: 5px;
}


.product-list>div>ul>li>ul{
	font-weight: normal;
}

.product-list ul {
	display: flex;    
	flex-direction: column;           /* biến ul thành flex container */
	flex-wrap: wrap;           /* tự xuống dòng nếu tràn */
	/*gap: 15px;                  /* khoảng cách giữa các mục */
	list-style: none;
	padding: 0;
	margin: 0;
}

.product-list ul li {
	display: inline-block;      /* đảm bảo từng mục nằm ngang */
	max-width: 600px;
}

.product-list ul li a {
	display: block;
	padding: 10px 10px;
	background: transparent;
	text-decoration: none;
	color: #333;
	transition: all 0.3s ease;
}

.product-list ul li a:hover {
	color: #c83791;
	outline: none;
}

.product-list ul li ul{    
	display: inline-flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
	padding: 5px 5px;
}

.san-pham-header a{
	color: #333;
}

.site-footer-widget {
	float: left;
	width: 100%;
	padding: 55px 0 70px 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.mini-account {
    position: relative;
    display: inline-block;
}
.mini-account-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f5f5f5;
    overflow: hidden;
}

.mini-account-login{
  	display: inline-flex;
    align-items: center;
    justify-content: center;
	padding-top: 8px;
	text-decoration: none;
	color: #333;
}

.mini-account-dropdown {
    display: none;
    position: absolute;
    top: 44px;
    right: -20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    min-width: 200px;
    z-index: 10;
	padding: 8px 15px;
	margin: 5px;
}
.mini-account:hover .mini-account-dropdown {
    display: block;
}
.mini-account-dropdown a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #333;
	margin: 0px;
}
.mini-account-dropdown a:hover {
    background: #f0f0f0;
}

.wp-container-core-group-is-layout-b585a4aa {
    justify-content: flex-start;
}

.avatar-header {
  margin-left: auto !important;
}

.avatar-header>div>div{
	margin-top: 10px;
}

/* footer */
.single-contact {
    display: flex;
    align-items: baseline;
    font-size: 15px;
    margin-bottom: 10px;
}

.mid-footer .single-contact .fa, .mid-footer .single-contact .fas {
    color: #171517;
}
.single-contact .fa, .single-contact .fas {
    color: #c83791;
    margin-right: 5px;
    width: 20px;
    flex: 0 0 20px;
}

footer{
	padding: 50px 0;
	background-color: #eee;
}

footer a{
	color: #333;
	text-decoration: none;
}	

.mid-footer .footer-block .footer-title {
    font-size: 16px;
    margin-bottom: 16px;
    color: inherit;
    font-weight: bold;
}

.mid-footer .list-menu {
    list-style: none;
    padding: 0px;
}

.mid-footer .list-menu li+li {
    margin-top: 10px;
}

header {
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.4);
    position: sticky;
	top: 0;
    position: -webkit-sticky;
    z-index: 1000;
    background: #fff;
}

/* css for search */
/* Ẩn form ban đầu */
.header-search form {
    display: none;
	
}

/* Khi active thì hiển thị toàn chiều ngang header */
.header-search .search-form-active {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.15);
	z-index: 9999;
}

.header-search input.search-field {
   	width: 50%;
    height: 70%;
    top: 15%;
    left: 25%;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    border-radius: 20px;
    position: inherit;
}

.header-search .search-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
	padding-top:5px;
}

.header-search button.search-close{
	position: absolute;
	top: calc(50% - 15px);
	left: calc(75% + 10px);
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.wc-block-mini-cart__quantity-badge::before {
    font-family: "bootstrap-icons";
	content: "\F243";
    color: #000;
	font-size: 24px;
}

.wc-block-mini-cart__quantity-badge svg{
	display: none;
}

/* Gán màu cho thuộc tính */
.woocommerce-product-attributes-item__value {
    display: inline-block;
}

.woocommerce-product-attributes-item__value a{
	color: transparent !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
	background: black;   /* ví dụ màu */
    box-shadow: 0 0 0 4px #fff,   /* khoảng cách trắng 3px */
                0 0 0 5px #333;  /* border ngoài màu đen */
	margin-right: 10px;
}

a[href*="mau-sac/den"] {
  background: black;
}
a[href*="mau-sac/da"] {
  background: brown;
}
a[href*="mau-sac/hong"] {
  background: pink;
}
a[href*="mau-sac/trang"] {
  background: white;
}
a[href*="mau-sac/xam"] {
  background: gray;
}
a[href*="mau-sac/xanh"] {
  background: green;
}

.woocommerce table.variations tr td select {
    height: 4em;
}